<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My Utility Test">
    <test name="String Util Test">
        <classes>
            <class name="com.sbn.tests.StringPatterTest"/>
        </classes>
    </test>
    <test name="Numeric Util Test">
        <classes>
            <class name="com.sbn.tests.AreaCalculationTest"/>
        </classes>
    </test>
    <test name="EMS Tests">
        <classes>
            <class name="com.sbn.selenium.tests.LoginTest"></class>
            <class name="com.sbn.selenium.tests.EmployeeTest"></class>
        </classes>
    </test>
</suite>